<div class="bg-light">
    <div class="container py-5">
        <h3 class="fw-bold">Get The FreshCart App</h3>
        <p class="font-sm fw-semibold text-secondary">We will send you a link, open it on your phone to download the app</p>
        <div class="d-flex justify-content-center align-items-center mb-2">
            <input class="form-control mx-3 w-75" type="email" placeholder="Email ..">
            <button class="btn bg-main mx-3 text-white px-4">Share App Link</button>
        </div>
        <div class="d-flex justify-content-around align-items-center">

            <div>
                <div>
                    <!-- <p class="fw-bold mt-2 me-3">Payment Partner</p> -->
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <img class="mt-2" width="100" src="assets/images/Amazon_Pay_logo.svg" alt="visa Logo">
                    <img class="ms-2" width="60" src="assets/images/mastercard-svgrepo-com.svg" alt="visa Logo">
                    <img width="70" src="assets/images/visa-logo-svgrepo-com.svg" alt="visa Logo">
                    <img class="ms-2" width="80" src="assets/images/PayPal.svg" alt="visa Logo">
                </div>
            </div>

            <div>
                <div>
                    <!-- <p class="fw-bold m-0 me-3">Get deliveries with FreshCart</p> -->
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <img class="me-3" width="100" src="assets/images/App_Store_(iOS).svg" alt="">
                    <img class="" width="100" src="assets/images/google-play-badge-logo-svgrepo-com.svg" alt="">
                </div>
            </div>

        </div>
                
    </div>
</div>
