<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">
        <img src="assets/images/freshcart-logo.svg" alt="logo Image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isLoggedUser" class="navbar-nav  mx-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center align-items-md-center pt-5 py-md-0">
          <li class="nav-items">
            <a class="nav-link fs-5" routerLinkActive="fw-bold text-main" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-items">
            <a class="nav-link fs-5" routerLinkActive="fw-bold text-main" routerLink="products">Products</a>
          </li>
          <li class="nav-items">
            <a class="nav-link fs-5" routerLinkActive="fw-bold text-main" routerLink="categories">Categories</a>
          </li>
          <li class="nav-items">
            <a class="nav-link fs-5" routerLinkActive="fw-bold text-main" routerLink="brands">Brands</a>
          </li>
        </ul>

        <ul class="navbar-nav nav-end ms-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center align-items-md-center py-4 py-md-0">
          <li *ngIf="!isLoggedUser" class="nav-item me-2">
            <a class="nav-link fw-bold  rounded logIn" routerLink="login">
              <div class="d-flex justify-content-between align-items-center px-3">
                Login
                <i class="fa-solid fa-arrow-right-to-bracket fs-4 ms-2"></i>
              </div>
            </a>
          </li>
          <li *ngIf="!isLoggedUser" class="nav-items">
              <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li *ngIf="isLoggedUser" class="nav-item mx-3 my-3">
            <a routerLink="cart">
              <div class=" position-relative">
                <i class="fa-solid fa-cart-shopping text-dark-emphasis fs-3 text-main"></i>
                <span class="cart-badge badge rounded-5 bg-main">
                  {{numOfCartItems}}
                </span>
              </div>
            </a>
          </li>
          <li *ngIf="isLoggedUser" class="nav-item mx-3 my-3">
            <a routerLink="wishList">
              <div class="position-relative">
                <i class="fa-solid fa-heart text-danger fs-3"></i>
                <span class="wish-badge badge rounded-5 bg-main">
                  {{numOfWishListItems}}
                </span>
              </div>
            </a>
          </li>
          <li *ngIf="isLoggedUser" class="nav-item">
            <a (click)="logOut()" class="nav-link ms-4 fw-bold btn  ms-3 logOut" routerLink="">
              <div class="d-flex fw-bold justify-content-between align-items-center px-3">
                LogOut
                <i class="fa-solid fa-arrow-right-from-bracket fs-3 ms-2"></i>   
              </div>     
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>