<div class="my-5 w-50 mx-auto">
    <form (ngSubmit)="handleForgetPassword()" [formGroup]="forgetPasswordForm">

        <h2>Forget Password :</h2>
        <p class="font-sm text-secondary mb-0 mt-4">please enter your email address below. we will send you a verification code to reset your password.</p>
        <P *ngIf="apiErrorMessage" class="alert alert-danger mt-4">{{apiErrorMessage}}</P>

        <label class="mt-4" for="userMail">Email :</label>
        <input class="form-control my-2" id="userMail" formControlName="email" type="email">
        <div *ngIf="forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.invalid" class="text-danger">
            <p *ngIf="forgetPasswordForm.get('email')?.getError('required')" class="my-0">* User Email is required</p>
            <p *ngIf="forgetPasswordForm.get('email')?.getError('email')" class="my-0">please enter a valid Email</p>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <button [disabled]="forgetPasswordForm.invalid || isLoading" class="btn bg-main text-white my-3">
                <span *ngIf="!isLoading">Send</span>
                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
            </button>
        </div>
    </form>
</div>