<app-home-main-slider></app-home-main-slider>

<h2 class="fw-bold mb-3 mt-3">Shop Popular Categories</h2>
<app-home-categories-slider></app-home-categories-slider>

<h3 class="h2 fw-bold mt-3">Popular Items This Season</h3>

<div class="w-75 mx-auto my-5">
    <label class="visually-hidden" for="specificSizeInputGroupUsername">Product Name</label>
    <div class="input-group">
        <div class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input [(ngModel)]="searchTerm" type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Search By Product Name">
    </div>
</div>

<div class="row g-4">
    <div *ngFor="let productDetail of allProducts|search:searchTerm" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <app-product [product]="productDetail"></app-product>
    </div>
    <div class="d-flex flex-column pagination mx-auto my-5" width="150px">
        <div class="py-3 d-flex justify-content-center ">
            <button [disabled]="currentPageNumber == 1" class="btn bg-main text-white mx-2 px-4 py-2" (click)="previousPage()">Previous</button>
            <span class="p-2">{{currentPageNumber}}</span>
            <button [disabled]="currentPageNumber == totalPagesNumber" class="btn bg-main text-white mx-2 px-4 py-2" (click)="nextPage()">Next</button>
        </div>
        <div class="text-center">
            <p>Page <span class="fw-bold">  {{currentPageNumber}}  </span> Of <span class="fw-bold">  {{totalPagesNumber}}  </span></p>
        </div>
    </div>
    <!-- <app-pagination [currentPageNumber]="currentPageNumber" [totalPagesNumber]="totalPagesNumber"></app-pagination> -->
</div>
<app-loading-screen *ngIf="loadingScreen"></app-loading-screen>