<div class="container">
    <div class="row g-5">
        <div *ngFor="let brand of allBrands" class="col-md-3">
            <a [routerLink]="['/products/brand',brand._id]" (click)="handleGetSpecificBrand(brand._id)">
                <div class="product rounded overflow-hidden border cursor-pointer">
                    <img class="w-100" [src]="brand.image" alt="">
                    <p class="text-center fw-bold">{{brand.name}}</p>
                </div>
            </a>
        </div>
    </div>
</div>


<app-loading-screen *ngIf="loadingScreen"></app-loading-screen>