<!-- <div class="d-flex flex-column pagination mx-auto" width="150px">
    <div class="py-3 d-flex justify-content-center ">
        <button class="btn bg-main text-white mx-2 px-4 py-2" (click)="previousPage()">Previous</button>
        <span class="p-2">{{currentPageNumber}}</span>
        <button class="btn bg-main text-white mx-2 px-4 py-2" (click)="nextPage()">Next</button>
    </div>
    <div class="text-center">
        <p>Page <span>{{currentPageNumber}}</span> Of <span>{{totalPagesNumber}}</span> </p>
    </div>
</div> -->

