<div class="social bg-dark bg-opacity-75 text-white rounded-end p-2">
    <li class="nav-item d-flex flex-column justify-content-center">
        <i class="fab fa-instagram my-2 cursor-pointer"></i>
        <i class="fab fa-facebook my-2 cursor-pointer"></i>
        <i class="fab fa-tiktok my-2 cursor-pointer"></i>
        <i class="fab fa-x-twitter my-2 cursor-pointer"></i>
        <i class="fab fa-linkedin my-2 cursor-pointer"></i>
        <i class="fab fa-youtube my-2 cursor-pointer"></i>
    </li>
</div>
            